<a href="https://colab.research.google.com/github/AarushiShahi/ML-Lab-1BM22CS002/blob/main/1BM22CS002_Lab_1_DataProcessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

In [22]:
df1=pd.read_csv('housing.csv')

In [23]:
df1.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [24]:
df1.describe()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562390,5.322283,6.299250,3.140000,29403.928700,9.975771e+05
50%,68804.286405,5.970429,7.002902,4.050000,36199.406690,1.232669e+06
75%,75783.338665,6.650808,7.665871,4.490000,42861.290770,1.471210e+06
max,107701.748400,9.519088,10.759588,6.500000,69621.713380,2.469066e+06

In [26]:
print(df1.columns[df1.isnull().any()])

Index([], dtype='object')

In [14]:
df2=pd.read_csv('diabetes.csv')

In [15]:
print(df2.columns[df2.isnull().any()])

Index([], dtype='object')

In [16]:
categorical_cols = df2.select_dtypes(exclude=['number']).columns
categorical_cols

Index(['Gender', 'CLASS'], dtype='object')

In [19]:
df3=pd.read_csv('adult.csv')

In [20]:
print(df3.columns[df3.isnull().any()])

Index([], dtype='object')

In [21]:
categorical_col = df3.select_dtypes(exclude=['number']).columns
categorical_col

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'native-country', 'income'],
      dtype='object')